<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.xdu.irent.dao.HouseMapper">
    <select id="findAll" resultMap="house">
        select * from rent.t_house;
    </select>
    <insert id="addHouse" parameterType="house">
        insert into
            rent.t_house (id, landlord_id, title, address, houseType, rooms, money, photo, updateTime, state)
        values (#{id},#{l_id},#{title},#{address},#{houseType},#{rooms},#{money},#{photo},#{updateTime},#{state});
    </insert>
    <delete id="deleteHouseById" parameterType="Long">
         delete  from rent.t_house where id=#{id}
    </delete>
    <update id="updateHouse" parameterType="house">
        update
            rent.t_house
        set
            landlord_id=#{l_id},
            title=#{title},
            address=#{address},
            houseType=#{houseType},
            rooms=#{rooms},
            money=#{money},
            photo=#{photo},
            updateTime=#{updateTime},
            state=#{state}
        where id=#{id}
    </update>
</mapper>
