<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.xdu.irent.dao.LandlordMapper">
    <select id="findLandlordByUsernameAndPassword" resultType="landlord">
        select * from rent.t_landlord
        where username=#{username} and password=#{password}
    </select>
    <insert id="addLandlord" parameterType="landlord">
        insert into rent.t_landlord
        ( nickname, username, password, phoneNumber, email, address,birthday,gender) VALUES
        (#{nickName},#{userName},#{password},#{phoneNumber},#{email},#{address},#{birthday},#{gender});
    </insert>
    <delete id="deleteById" parameterType="Long">
        delete from rent.t_landlord where id=#{id}
    </delete>
    <update id="updateLandlord" parameterType="landlord">
        update rent.t_landlord
        set
            nickname=#{nickname},
            username=#{userName},
            password=#{password},
            email=#{email},
            phoneNumber=#{phoneNumber},
            address=#{address}
        where id=#{id}

    </update>
    <select id="getHouseByLid" resultType="house">
        select * from rent.t_house where landlord_id=#{lid};
    </select>

</mapper>
